    <div class="container-fluid">
    <div class="row p-3 pt-1">
       <div class="col-md-2 p-0 shadow">
            <div class="card" style="height: 100% ;">
                  <h4 class="text-center mt-md-4">Gestion de stock</h4>
                  <div>
                    <app-menu></app-menu>
                  </div>
            </div>
       </div> 
        
        <div class="col-md-10 p-0 ps-md-2">
            <div class="header card p-3"style="">
                <app-header></app-header>
            </div>
            <div class="main card " style="min-height: 650px; width: 100%;">
                <router-outlet></router-outlet>
            </div>
            <div class="footer card flex-row align-items-center justify-content-center" style="min-height: 80px; width: 100%;">
               
                    <h4 class="text-center">Made by Ramzi Jribi</h4>     
                
                <div>

                </div>
            </div>
        </div>

    </div>
  </div>

