<div class="row mb-1 mr-0 custom-border">
    <!--  Details article-->
    <div class="col-md-3 custom-border-right mb-1 mt-1 ">
      <div class="row text-center">
        <div class="col-md-11">{{mouvement.date}}</div>
      </div>
    </div>

    <!--  details categorie-->
    <div class="col-md-3 custom-border-right mb-1 mt-1 ">
      <div class="row">
        <div class="col-md-12 text-center">
          <h5>{{ mouvement.quantity }}</h5>
        </div>
      </div>
    </div>

    <div class="col-md-3 custom-border-right mb-1 mt-1 ">
      <div class="row">
        <div class="col-md-12 text-center" style="font-weight: bolder;">
          {{ mouvement.type }}
          @if ( mouvement.type == "sortie") {
            <i class="bi bi-arrow-down-circle-fill " style="color: red"></i>}
          @else {
            <i class="bi bi-arrow-up-circle-fill " style="color: blue"></i>
          }

        </div>
      </div>
    </div>

    <!--  boutons action-->
    <div class="col-md-3 mb-1 mt-1">
      <div class="row text-center">
        <h5>{{ mouvement.nature }}</h5>

      </div>
    </div>
  </div>
