<div class="container-fluid">
    <div class="m-md-2">
        <div class= "d-flex justify-content-between">
            <div><h4>Liste des articles</h4></div>
            <div>
                <app-boutons-groupe></app-boutons-groupe>
            </div>
        </div>
    </div>
    
    <div class="m-md-4">   
        <app-detail-article
      *ngFor="let article of listArticle"
      [articleDto]="article"></app-detail-article>
      
  
    </div>
    <div class="d-flex justify-content-center">
       <app-pagination></app-pagination>
    </div>
</div>
