<div class="container-fluid">
<div class="row">
    <div class="col-9">
        <div class="input-group flex-nowrap">
            <input type="text" class="form-control" placeholder="Recherche" aria-label="Username" aria-describedby="addon-wrapping">
            <span class="input-group-text" id="addon-wrapping"><i class="bi bi-search"></i></span>
        </div>
    </div>
    <div class="col-3 text-end">
        <span class="pe-md-2">Bonjour Ramzi</span>
        <img src="user.svg" alt="" width="40" height="40">
    </div>
</div>
</div>