<div class="container my-container">
    <div class="card m-3">
        <div class="card-header text-center">
            <h3>S'inscrire</h3>
        </div>
        <div class="card-body">
            <div class="form-floating mb-1">
                <input type="text" class="form-control" id="floatingInput" placeholder="Nom">
                <label for="floatingInput">Nom</label>
            </div>
            <div class="form-floating mb-1">
                <input type="text" class="form-control" id="floatingInput" placeholder="Code fiscal">
                <label for="floatingInput">Code fiscal</label>
            </div>
            <div class="form-floating mb-1">
                <input type="email" class="form-control" id="floatingInput" placeholder="Email">
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating mb-1">
                <input type="text" class="form-control" id="floatingInput" placeholder="Adresse 1">
                <label for="floatingInput">Adresse 1</label>
            </div>
            <div class="form-floating mb-1">
                <input type="text" class="form-control" id="floatingInput" placeholder="Adresse 2">
                <label for="floatingInput">Adresse 2</label>
            </div>
            <div class="form-floating mb-1">
                <input type="text" class="form-control" id="floatingInput" placeholder="Ville">
                <label for="floatingInput">Ville</label>
            </div>
            <div class="form-floating mb-1">
                <input type="text" class="form-control" id="floatingInput" placeholder="Code postal">
                <label for="floatingInput">Code postal</label>
            </div>
            <div class="form-floating mb-1">
                <input type="text" class="form-control" id="floatingInput" placeholder="Pays">
                <label for="floatingInput">Pays</label>
            </div>
            <div class="form-floating mb-1">
                <input type="text" class="form-control" id="floatingInput" placeholder="Description">
                <label for="floatingInput">Description</label>
            </div>
            <div class="form-floating mb-1">
                <input type="text" class="form-control" id="floatingInput" placeholder="Numero de telephone">
                <label for="floatingInput">Numero de telephone</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Mot de passe">
                <label for="floatingInput">Mot de passe</label>
            </div>
            
            <div class="login-btn d-flex justify-content-between">
                <button routerLink="/login" type="button" class="btn btn-link">Se connecter</button>
                <button type="button" class="btn btn-primary"><i class="bi bi-check2 pe-2"></i>S'inscrire</button>
        
            </div>
        </div>
    </div>
</div>
