/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */

//$primary: #20c997;

@import 'bootstrap/scss/bootstrap';





body {
    background-color: #eff2f5 !important;
    padding: 0 !important;
    margin: 0 !important;
  }



